<div class="row container-row">
  <div class="col-12">
    <div class="container">
      <div id="projects" class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="title-heading">Projects</h2>
        <div class="cards">
          <% data.projects.each do |project| %>
            <div class="card-product">
              <div class="card-product-img">
                <%= image_tag project.image, alt: "Project Image", class: "project-img" %>
              </div>
              <div class="card-product-infos">
                <p class="project-title"><%= project.name %></p>
                <p class="project-detail project-stacks"><%= project.stacks %></p>
                <p class="project-detail project-position"><%= project.position %></p>
                <p class="project-detail project-description"><%= project.description %></p>
                <div class="card-links">
                  <% link_to project.github, class: 'project-link', target: '_blank' do %>
                    <i class="fa-brands fa-github"></i>
                  <% end %>
                  <% if project.online?  %>
                    <% link_to project.url, class: 'project-link', target: '_blank' do %>
                      <i class="fas fa-external-link-alt"></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
