<button onclick="topFunction()" id="button-top" title="Go to Top">&uarr;</button>
<div class="container container-outer">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Tech Stack Section -->
  <%= partial 'partials/techstacks' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
